.header {
  position: relative;
  h1 {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1475rem;
    text-transform: capitalize;
    line-height: 3rem;

    @media (min-width: 576px) {
      line-height: 4rem;
    }
    @media (min-width: 768px) {
      line-height: 6rem;
    }
    @media (min-width: 1024px) {
      line-height: 8.25rem;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46.375rem;
    height: 46.375rem;
    border-radius: 46.375rem;
    opacity: 0.5;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(46, 118, 219, 0.5) 0%,
      rgba(30, 50, 78, 0) 100%
    );
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 19.5625rem;
    background: linear-gradient(
      180deg,
      rgba(11, 18, 40, 0) 0%,
      rgba(11, 18, 40, 0.47) 30.69%,
      rgba(11, 18, 40, 0.75) 59.55%,
      rgba(11, 18, 40, 0.9) 81.03%,
      #0b1228 99.84%
    );
  }
  @media (max-width: 1024px) {
    &::after {
      height: 15.5625rem;
    }
  }
  @media (max-width: 768px) {
    &::after {
      height: 12.5625rem;
    }
  }
  @media (max-width: 576px) {
    &::after {
      height: 10.5625rem;
    }
  }
}
